<h3>Hello <%=@user_query.raised_by%>
<h4>thanks for your intrest..</h4>
<h4>your ticked id is :<%=@user_query.ticket_id%></h4>
<h4>Query status: <%=@user_query.status%></h4>
<h4>We will get back to you soon...</h4>
<h6>Regards<br/>
Tech Coders</h6>